<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>userwork</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PageServlet</display-name>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>com.keduo.servlet.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/userpage.do</url-pattern>
    <url-pattern>/menupage.do</url-pattern>
    <url-pattern>/rolepage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveServlet</display-name>
    <servlet-name>RemoveServlet</servlet-name>
    <servlet-class>com.keduo.servlet.RemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveServlet</servlet-name>
    <url-pattern>/userremove.do</url-pattern>
    <url-pattern>/roleremove.do</url-pattern>
    <url-pattern>/menuremove.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.keduo.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
   
    
    <servlet-name>Servlet01</servlet-name>
    <servlet-class>com.keduo.servlet.Servlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet01</servlet-name>
    
    <url-pattern>/Servlet01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindMenusUid</display-name>
    <servlet-name>FindMenusUid</servlet-name>
    <servlet-class>com.keduo.servlet.FindMenusUid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindMenusUid</servlet-name>
    <url-pattern>/menusuid.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindById</display-name>
    <servlet-name>FindById</servlet-name>
    <servlet-class>com.keduo.servlet.FindById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindById</servlet-name>
    <url-pattern>/menuid.do</url-pattern>
    <url-pattern>/roleid.do</url-pattern>
    <url-pattern>/userid.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyMenuRoleServlet</display-name>
    <servlet-name>ModifyMenuRoleServlet</servlet-name>
    <servlet-class>com.keduo.servlet.ModifyMenuRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyMenuRoleServlet</servlet-name>
    <url-pattern>/menumodify.do</url-pattern>
    <url-pattern>/rolemodify.do</url-pattern>
  </servlet-mapping>
</web-app>